/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap");

/* colors & font names */
:root {
  --brand-base: #ff6b00;
  --social-links: #dbd8d7;
  --white: #fff;
  --transparent-white: rgba(255, 255, 255, 0.197);
  --background: #1c1a19;
  --navbackground: #3c3a39;
  --langs: #8993a4;
  --form-text: #979493;
  --text-area: #fbf8f7;
  --primary-family: "Crete Round";
  --body-family: "Poppins";
  --general-family: "Roboto";
  --work-desc: "Inter";
  --languages: "Meera Inimai";
}
/* navbar section */
.header {
  background: var(--navbackground);
  font-family: var(--general-family);
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  padding: 1em 7.5em;
}

/* main section */
.wrapper {
  box-sizing: border-box;
  background: var(--background) url("../images/desktop-header.svg") no-repeat
    100% 100%;
  color: var(--white);
  height: 100vh;
  overflow: hidden;
}
section.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding: 10em 0 10em 2em;
  width: 50em;
  height: 100%;
}
.welcome {
  padding: 0 6em 0 2em;
}
.welcome .intro {
  font-weight: 400;
  font-size: 4.4em;
  line-height: 82px;
}

.description {
  font-weight: 500;
  font-size: 0.85em;
  line-height: 32px;
}
/* social links */
section.social-links > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.contact-me {
  align-self: center;
  height: 80%;
}
.social-links ul li {
  padding: 0.5em 0 0 0;
}
.contact-me svg {
  width: 1.4em;
}

/* recent works section */
.content-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  justify-content: center;
  background: var(--background);
}
.recent-works {
  padding-left: 6em;
  padding-bottom: 7em;
}
.recent-works > h1 {
  text-align: left;
  border-bottom: none;
  position: relative;
  overflow: hidden;
}
.recent-works > h1:after {
  content: "";
  width: 70%;
  border-bottom: solid 1px var(--background);
  position: absolute;
  left: 8.5em;
  top: 75%;
  z-index: 1;
}
figure {
  padding: 0.4em;
}
.work-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
article.post-wrapper {
  height: 100%;
  padding-right: 12em;
}
article > p.story-detail {
  padding-top: 0.6em;
  line-height: 28px;
}
article.post-wrapper > h2.work-description {
  padding-top: 0;
}
ul.langs {
  margin: 0.5em 0;
}

article.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 415px);
  gap: 2em;
  padding-right: 5em;
  justify-content: center;
}

.work-2 article.desc-wrapper {
  height: 27.18em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.work-2:not(:first-child) div.btn > button.btn-project {
  display: none;
}

/* cards section */
.work-2 .card-1 {
  background: url(../images/card-1.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 2.5em 1em 0.5em;
}
.work-2 .card-2 {
  background: url(../images/card-2.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 5em 1em 0.5em;
}
.work-2 .card-3 {
  background: url(../images/card-3.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 5em 1em 0.5em;
}
.work-2 .card-4 {
  background: url(../images/card-4.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 5em 1em 0.5em;
}
.work-2 .card-5 {
  background: url(../images/card-2.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 5em 1em 0.5em;
}
.work-2 .card-6 {
  background: url(../images/card-3.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 5em 1em 0.5em;
}

/* about-me section */

section.about-me {
  background: url(../images/desktop-about-background.svg) 100% 100% no-repeat;
  display: grid;
  grid-template-columns: repeat(1, 50%);
  padding-left: 6em;
}

/* knowledge section */
section.knowledge-desc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  padding-left: 6em;
}

/* get-intouch-section */

.get-in-touch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

form.get-in-touch-form {
  display: grid;
}
form.get-in-touch-form input {
  border: none;
  border-bottom: 1px solid var(--form-text);
  color: var(--form-text);
  padding: 1em;
  width: 90%;
}
div.border-div {
  display: none;
}

footer {
  padding: 0.5em;
}
