/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap");

/* colors & font names */
:root {
  --brand-base: #ff6b00;
  --social-links: #dbd8d7;
  --white: #fff;
  --transparent-white: rgba(255, 255, 255, 0.197);
  --background: #1c1a19;
  --navbackground: #3c3a39;
  --langs: #8993a4;
  --form-text: #979493;
  --text-area: #fbf8f7;
  --primary-family: "Crete Round";
  --body-family: "Poppins";
  --general-family: "Roboto";
  --work-desc: "Inter";
  --languages: "Meera Inimai";
}

/* general styles */
body {
  font-size: 100%;
}

* {
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  background: var(--background) url("../images/background.svg") no-repeat 100% 100%;
  color: var(--white);
  height: 100vh;
}

/* navbar section */
.header {
  background: var(--navbackground);
  font-family: var(--general-family);
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  padding: 1em 2.2em;
}

.hum-menu {
  margin-top: 0.4em;
}

.menu {
  background: var(--white);
  list-style: none;
  width: 1.2em;
  height: 0.1em;
  margin-top: 0.2em;
  cursor: pointer;
}

/* main section */
.container {
  position: relative;
  padding: 10em 1.5em 0;
}

.welcome .intro {
  color: var(--brand-base);
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 3em;
}

.welcome .profession {
  font-family: var(--general-family);
  font-weight: 700;
  font-size: 1.4em;
  margin: 0.8em 0;
}

.description {
  font-family: var(--body-family);
  font-weight: 400;
}

/* footer */
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  flex-wrap: wrap;
  padding-bottom: 1.2em;
}

footer ul li a {
  padding: 0 1.2em 0 0;
}

/* social links */

.social-links ul {
  list-style: none;
  display: flex;
  margin-top: 1.2em;
  flex-wrap: wrap;
}

.social-links ul li a {
  padding: 0 1.2em 0 0;
}

/* recent works section */
.content-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  justify-content: center;
  background: var(--background);
}

.recent-works {
  background: var(--white);
  padding: 2em;
}

.recent-works > h1 {
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  padding: 3em 0 0.7em;
  border-bottom: 2px solid #212121;
  margin-bottom: 1.6em;
}

figure .multi-post {
  width: 100%;
}

.recent-works > section {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

.work-description {
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 2em;
  align-self: flex-start;
  padding: 0.5em 0;
}

p.story-detail {
  font-family: var(--work-desc);
}

.recent-works ul.langs {
  list-style: none;
  display: flex;
  align-self: flex-start;
  font-family: var(--work-desc);
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.7em 0;
}

.recent-works ul.langs > li {
  border: 1px solid var(--langs);
  padding: 0.5em;
  margin-right: 0.8em;
}

div.btn {
  align-self: flex-start;
}

div.multi-post {
  width: 30%;
}

div.btn > h3 {
  font-family: var(--work-desc);
  font-size: 1.06em;
  font-weight: 700;
  color: var(--white);
  background: var(--brand-base);
  padding: 0.5em;
}

.work-2 .desc-wrapper {
  background: url(../images/professional-art-background.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 5em 1em 0;
}

.work-2 ul.langs > li {
  background: var(--transparent-white) !important;
  border: none;
}

.work-2 > div.btn {
  width: 100%;
  text-align: center;
}

/* about me section */

.about-me {
  background: var(--background) url(../images/about-background.svg) 100% 100% no-repeat;
  padding: 7em 2em;
}

.about-border {
  background: var(--white);
  height: 0.1em;
  width: 80%;
  justify-self: center;
  margin-bottom: 6em;
}

.about-me > h1.about-title {
  font-family: var(--primary-family);
  font-size: 4.2em;
  font-weight: 400;
  color: var(--brand-base);
}

.about-me > p.about-desc {
  font-family: var(--work-desc);
  color: var(--white);
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin: 1.4em 0;
}

.about-me > div.about-btn {
  background: var(--brand-base);
  color: var(--white);
  font-family: var(--work-desc);
  font-weight: 700;
  font-size: 1.06em;
  padding: 0.5em;
  width: 50%;
  text-align: center;
}

/* language lists section */

.knowledge-desc {
  background: var(--background);
  padding-bottom: 7.5em;
}

.knowledge-desc > ul {
  list-style: none;
  color: var(--white);
  font-family: var(--languages);
  line-height: 3em;
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5em;
}

ul.language::before {
  content: attr(data-header);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
  background: url(../images/language.svg) no-repeat 0.1em 0;
  padding-left: 1.5em;
}

ul.frameworks::before {
  content: attr(data-header);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
  background: url(../images/frameworks.svg) no-repeat 0.1em 0;
  padding-left: 1.5em;
}

ul.skills::before {
  content: attr(data-header);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
  background: url(../images/skills.svg) no-repeat 0.1em 0;
  padding-left: 1.5em;
}

/* footer section */
footer {
  padding: 2em;
  border-top: solid 1px var(--form-text);
}

.border-div {
  display: flex;
  justify-content: center;
}
